* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 1rem;
}

div, footer {
  animation-name: opacity;
  animation-duration: 1s;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Saira', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Saira', bold;
  padding-bottom: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Saira', cursive;
}

button {
  margin-top: 2.25rem;
  padding: 2rem 10rem 1.5rem 10rem;
  border: 0;
  border-radius: 5px;
  background-color:#4ECCA3;
  color: #232931;
  font-size: 1.15rem;
}

button:hover {
  opacity: 0.85;
  cursor: pointer;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



